body{
    background-color: #142F43;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
.title{
    color:white;
}
.footer{
    color:white;

}
.container{
    margin: auto;  


}
#how_to{
    position: absolute;
    right: 100PX;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    height: 50px;
    width: 250px;
    border: solid 3px black;
    text-decoration: none;
}

#how_to:hover{
    border: solid 2px black;
    
}
#how_to:active{
    border: solid 3px white;
    color: white;
    background-color: black;

}
#highscore{
    position: absolute;
    left: 70PX;
    color: white;

}


.red{
    background-color: red;
}
.blue{
    background-color: #2F86A6;
}
.green{
    background-color: green;
    
}
.yellow{
    background-color: yellow;
}
.btn{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    display:inline-block;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 20px;
    border: solid 6px black;
}   
.btn:hover{   
    border: solid 2px black;
}
.btn:active{
    border: solid 6px black;
box-shadow: 0 0 20px white;
}
.pressed{
box-shadow: 0 0 20px white;
background-color: #a0a0a0;

}

.game-over {
    background-color: red;
    opacity: 0.8;
  }

  .click_here{
      border: solid 4px black;
      padding: 6px;
    font-family: 'Press Start 2P', cursive;
    height: 60px;
    width: 170px;
    font-size:2rem;
   
  }

  .click_here:hover{
    border: solid 2px black;
  }
  .click_here:active{
    border: solid 3px white;
    color: white;
    background-color: black;
  }
  #large{
      display: block;
    }
    #small{
    display: none;
}


@media (min-width:512px) and (max-width:900px) {
    #highscore{        
        position: relative;
       margin-right: 140px;
    }
    #how_to{
        transform: rotate(-90deg);
        right: -100px;
        top:300px
    }
    #large{
        display: none;
    }
    #small{
        display: block;
    }
    
}

@media (max-width:511px){
    .click_here{
        border: solid 2px black;
        padding: 0px;
      height: 27px;
      width: 90px;
      font-size:1.2rem;
     
    }
    body{
        font-size: 0.7rem;
    }
    #large{
        display: none;
    }
    #small{
        display: block;
    }
    #highscore{        
        position: relative;
       margin-right: 140px;
       font-size: 0.7rem;
    }
    #how_to{
        transform: rotate(-90deg);
        border: solid 2px black;
        height: 25px;
        width: 150px;
        font-size: 0.7rem;
        right: -60px;
        top:200px
    }
    .btn{
        font-size: 2rem;
        height: 120px;
        width: 120px;
        margin: 5px;
        border: solid 3px black;
    } 
    .btn:hover{   
        border: solid 3px black;
    }
    .btn:active{
        border: solid 5px black;
    }

}

















